header {
    position: relative;
}
.foto-home {
    height: 200px;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    margin-top: 10%;
}
.saudacao-inicio {
    color: #889;
    font-size: 300%;
    padding-left: 10%;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
    margin-right: 33%;
}
.saudacao-ultima-linha em{
  font-size: 400%;
}
.saudacao strong {
    color: #000;
    font-size: 200%;
}
.saudacao em {
    color: #851944;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    padding: .5rem;
    margin:5% 35%;
    box-sizing: border-box;
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
    padding-left: 2%;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin: 2%;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    padding-left: 2%;
    position: relative;
}
.blog li a {
    color: #FCF;
}
.blog li {
    padding: 1%;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
footer p {
    padding-bottom: 2%;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
h2{
  font-size: 300%;
}

.subtitulo-principal{
  font-size: 50%;
}

.inicio-post{
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 3em;
  left: 18em;
  height: 5em;
  padding: 2em;
  width: 48em;
}

.palavra-home{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 50%;
  color: #D5447E;
}

.eficiencia {
    position: absolute;
    top: 20%;
    left: 75%;
}
.boas-praticas {
    position: absolute;
    top: 45%;
    left: 20%;
}
.codigo-limpo {
  position: absolute;
  top: 30%;
  left: 8%;
}
.css3 {
    position: absolute;
    top: 30%;
    left: 30%;
}
.html5 {
    position: absolute;
    top: 30%;
    left: 90%;
}
.javascript {
    position: absolute;
    top: 5%;
    left: 60%;
}
.acessibilidade {
  position: absolute;
  top: 18%;
  left: 25%;
}
.responsivo {
    position: absolute;
    top: 10%;
    left: 15%;
}
.otimizacoes {
    position: absolute;
    top: 40%;
    left: 75%;
}
.agilidade {
    position: absolute;
    top: 6%;
    left: 29%;
}
.design {
    position: absolute;
    top: 30%;
    left: 65%;
}
.essencial-design{
      background-color: #fff;
      margin-right: 5%;
}
